In [1]:
#importing dependencies
import pandas as pd
import numpy as np
import datetime

In [2]:
# File to Load 
listings_resources = "listings.csv"

In [3]:
# Read the csv and store into Pandas DataFrames
listings_resources_2 = pd.read_csv(listings_resources)
listings_resources_2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13996997,Brand New Apartment - Opposite Perth Zoo!,56683967,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273,4,100,28/05/2022,1.39,3,200,5,NaN
1,52829205,"Barefoot beach front escape, moments to the oc...",31134236,Sarah,NaN,STIRLING,-31.86853,115.75194,Entire home/apt,664,3,15,27/05/2022,2.37,1,316,15,NaN
2,47722611,Fusion of 20th century charm & modern convenie...,55410179,Let Go,NaN,PERTH,-31.95255,115.83302,Entire home/apt,299,2,35,5/06/2022,2.08,55,84,22,NaN
3,21872065,Central City 1 Bed Apartment - City Views,88588252,Emma,NaN,PERTH,-31.96113,115.86053,Entire home/apt,170,7,1,28/05/2018,0.02,5,58,0,NaN
4,731606,Viewport Apartment - Fremantle,3808149,Jo,NaN,FREMANTLE,-32.04453,115.74471,Entire home/apt,100,4,197,29/06/2021,1.69,1,137,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8772,54397579,Four bedroom house at Eden beach area,58829390,Satwinder,NaN,WANNEROO,-31.63639,115.68721,Private room,90,1,2,27/05/2022,2.00,1,358,2,NaN
8773,54399765,Sandpiper House - Family & Pet Friendly,40750914,DownSouth,NaN,BUSSELTON,-33.66255,115.28935,Entire home/apt,252,1,6,4/06/2022,2.73,58,322,6,NaN
8774,54400559,Kid friendly Broadwater beach house. Sleeps 10!!,223440359,Laura,NaN,BUSSELTON,-33.66260,115.26811,Entire home/apt,293,2,5,6/06/2022,2.42,1,277,5,NaN
8775,54405406,Quiet and comfortable chalet in the heart of t...,441964202,Ailsa,NaN,RAVENSTHORPE,-33.94574,120.12449,Entire home/apt,145,2,10,2/06/2022,2.36,1,335,10,NaN
8776,54405652,Veg at Ledge in total comfort & relaxation,173146469,Lana,NaN,GINGIN,-31.10218,115.37507,Entire home/apt,470,2,4,6/06/2022,1.45,16,350,4,NaN

In [4]:
#Filtering the data based on latitudes and longitudes
listings_filtered = listings_resources_2.loc[(listings_resources_2['latitude']>= -32.5468) & (listings_resources_2['latitude'] <= -31.7725) & (listings_resources_2['longitude'] <= 116.0593)]
listings_filtered

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13996997,Brand New Apartment - Opposite Perth Zoo!,56683967,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273,4,100,28/05/2022,1.39,3,200,5,NaN
1,52829205,"Barefoot beach front escape, moments to the oc...",31134236,Sarah,NaN,STIRLING,-31.86853,115.75194,Entire home/apt,664,3,15,27/05/2022,2.37,1,316,15,NaN
2,47722611,Fusion of 20th century charm & modern convenie...,55410179,Let Go,NaN,PERTH,-31.95255,115.83302,Entire home/apt,299,2,35,5/06/2022,2.08,55,84,22,NaN
3,21872065,Central City 1 Bed Apartment - City Views,88588252,Emma,NaN,PERTH,-31.96113,115.86053,Entire home/apt,170,7,1,28/05/2018,0.02,5,58,0,NaN
4,731606,Viewport Apartment - Fremantle,3808149,Jo,NaN,FREMANTLE,-32.04453,115.74471,Entire home/apt,100,4,197,29/06/2021,1.69,1,137,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8764,54371171,Cosy 2 bedroom. Central location. Quiet & frie...,136492759,Charleen,NaN,VINCENT,-31.93795,115.86906,Private room,56,1,4,12/05/2022,1.25,2,13,4,NaN
8766,54372091,Luxury home in the heart of South Perth,47514250,Gemma,NaN,SOUTH PERTH,-31.97483,115.85483,Entire home/apt,911,2,10,6/06/2022,2.48,1,218,10,NaN
8767,54372701,Private room in a 2br city unit with balcony,4612670,Gillian,NaN,VINCENT,-31.92257,115.84928,Private room,55,1,14,10/06/2022,2.96,1,359,14,NaN
8770,54392550,Master Bedroom Ensuite Airport/City/Casino,416968361,Lena,NaN,BELMONT,-31.96734,115.91662,Private room,75,1,52,15/06/2022,10.99,2,213,52,NaN
8771,54392946,Bedroom Ensuite Double bed Airport/City/Casino,416968361,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65,1,50,11/06/2022,10.49,2,228,50,NaN

In [5]:
#Filtering the data based on number of nights (Number of nights <= 15)
listings_filtered_nights = listings_filtered.loc[(listings_filtered['minimum_nights'] <= 15)]
listings_filtered_nights

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13996997,Brand New Apartment - Opposite Perth Zoo!,56683967,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273,4,100,28/05/2022,1.39,3,200,5,NaN
1,52829205,"Barefoot beach front escape, moments to the oc...",31134236,Sarah,NaN,STIRLING,-31.86853,115.75194,Entire home/apt,664,3,15,27/05/2022,2.37,1,316,15,NaN
2,47722611,Fusion of 20th century charm & modern convenie...,55410179,Let Go,NaN,PERTH,-31.95255,115.83302,Entire home/apt,299,2,35,5/06/2022,2.08,55,84,22,NaN
3,21872065,Central City 1 Bed Apartment - City Views,88588252,Emma,NaN,PERTH,-31.96113,115.86053,Entire home/apt,170,7,1,28/05/2018,0.02,5,58,0,NaN
4,731606,Viewport Apartment - Fremantle,3808149,Jo,NaN,FREMANTLE,-32.04453,115.74471,Entire home/apt,100,4,197,29/06/2021,1.69,1,137,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8764,54371171,Cosy 2 bedroom. Central location. Quiet & frie...,136492759,Charleen,NaN,VINCENT,-31.93795,115.86906,Private room,56,1,4,12/05/2022,1.25,2,13,4,NaN
8766,54372091,Luxury home in the heart of South Perth,47514250,Gemma,NaN,SOUTH PERTH,-31.97483,115.85483,Entire home/apt,911,2,10,6/06/2022,2.48,1,218,10,NaN
8767,54372701,Private room in a 2br city unit with balcony,4612670,Gillian,NaN,VINCENT,-31.92257,115.84928,Private room,55,1,14,10/06/2022,2.96,1,359,14,NaN
8770,54392550,Master Bedroom Ensuite Airport/City/Casino,416968361,Lena,NaN,BELMONT,-31.96734,115.91662,Private room,75,1,52,15/06/2022,10.99,2,213,52,NaN
8771,54392946,Bedroom Ensuite Double bed Airport/City/Casino,416968361,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65,1,50,11/06/2022,10.49,2,228,50,NaN

In [6]:
#Removing unnecessary columns
listings_filtered_nights_columns = listings_filtered_nights.drop(['neighbourhood_group','license'], axis=1)
listings_filtered_nights_columns

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,13996997,Brand New Apartment - Opposite Perth Zoo!,56683967,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273,4,100,28/05/2022,1.39,3,200,5
1,52829205,"Barefoot beach front escape, moments to the oc...",31134236,Sarah,STIRLING,-31.86853,115.75194,Entire home/apt,664,3,15,27/05/2022,2.37,1,316,15
2,47722611,Fusion of 20th century charm & modern convenie...,55410179,Let Go,PERTH,-31.95255,115.83302,Entire home/apt,299,2,35,5/06/2022,2.08,55,84,22
3,21872065,Central City 1 Bed Apartment - City Views,88588252,Emma,PERTH,-31.96113,115.86053,Entire home/apt,170,7,1,28/05/2018,0.02,5,58,0
4,731606,Viewport Apartment - Fremantle,3808149,Jo,FREMANTLE,-32.04453,115.74471,Entire home/apt,100,4,197,29/06/2021,1.69,1,137,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8764,54371171,Cosy 2 bedroom. Central location. Quiet & frie...,136492759,Charleen,VINCENT,-31.93795,115.86906,Private room,56,1,4,12/05/2022,1.25,2,13,4
8766,54372091,Luxury home in the heart of South Perth,47514250,Gemma,SOUTH PERTH,-31.97483,115.85483,Entire home/apt,911,2,10,6/06/2022,2.48,1,218,10
8767,54372701,Private room in a 2br city unit with balcony,4612670,Gillian,VINCENT,-31.92257,115.84928,Private room,55,1,14,10/06/2022,2.96,1,359,14
8770,54392550,Master Bedroom Ensuite Airport/City/Casino,416968361,Lena,BELMONT,-31.96734,115.91662,Private room,75,1,52,15/06/2022,10.99,2,213,52
8771,54392946,Bedroom Ensuite Double bed Airport/City/Casino,416968361,Lena,BELMONT,-31.96541,115.91629,Private room,65,1,50,11/06/2022,10.49,2,228,50

In [7]:
#Dropping the rows with no values in the last review
listings_filtered_nights_columns_droppedna = listings_filtered_nights_columns[listings_filtered_nights_columns['last_review'].notna()]
listings_filtered_nights_columns_droppedna

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,13996997,Brand New Apartment - Opposite Perth Zoo!,56683967,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273,4,100,28/05/2022,1.39,3,200,5
1,52829205,"Barefoot beach front escape, moments to the oc...",31134236,Sarah,STIRLING,-31.86853,115.75194,Entire home/apt,664,3,15,27/05/2022,2.37,1,316,15
2,47722611,Fusion of 20th century charm & modern convenie...,55410179,Let Go,PERTH,-31.95255,115.83302,Entire home/apt,299,2,35,5/06/2022,2.08,55,84,22
3,21872065,Central City 1 Bed Apartment - City Views,88588252,Emma,PERTH,-31.96113,115.86053,Entire home/apt,170,7,1,28/05/2018,0.02,5,58,0
4,731606,Viewport Apartment - Fremantle,3808149,Jo,FREMANTLE,-32.04453,115.74471,Entire home/apt,100,4,197,29/06/2021,1.69,1,137,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8764,54371171,Cosy 2 bedroom. Central location. Quiet & frie...,136492759,Charleen,VINCENT,-31.93795,115.86906,Private room,56,1,4,12/05/2022,1.25,2,13,4
8766,54372091,Luxury home in the heart of South Perth,47514250,Gemma,SOUTH PERTH,-31.97483,115.85483,Entire home/apt,911,2,10,6/06/2022,2.48,1,218,10
8767,54372701,Private room in a 2br city unit with balcony,4612670,Gillian,VINCENT,-31.92257,115.84928,Private room,55,1,14,10/06/2022,2.96,1,359,14
8770,54392550,Master Bedroom Ensuite Airport/City/Casino,416968361,Lena,BELMONT,-31.96734,115.91662,Private room,75,1,52,15/06/2022,10.99,2,213,52
8771,54392946,Bedroom Ensuite Double bed Airport/City/Casino,416968361,Lena,BELMONT,-31.96541,115.91629,Private room,65,1,50,11/06/2022,10.49,2,228,50

In [12]:
#File to load
reviews = "reviews.csv"
# Read the csv and store into Pandas DataFrames
reviews_2 = pd.read_csv(reviews, low_memory=False)
reviews_2

        listing_id        date
0       13996997.0  18/07/2016
1       13996997.0  30/07/2016
2       13996997.0   6/08/2016
3       13996997.0  14/08/2016
4       13996997.0   6/09/2016
...            ...         ...
481415  54405406.0   2/06/2022
481416  54405652.0  27/03/2022
481417  54405652.0   3/04/2022
481418  54405652.0  24/04/2022
481419  54405652.0   6/06/2022

[481420 rows x 2 columns]

In [17]:
#merging the dataset
#review_data_merged = pd.merge(reviews_2, listings_resources_2, how='left', on= ['listing_id','id'])
review_data_merged = pd.merge(left=reviews_2, right=listings_resources_2, left_on='listing_id', right_on='id', how='left')
review_data_merged.to_csv('review_data_merged.csv', encoding='utf-8')
review_data_merged

,listing_id,date,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13996997.0,18/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
1,13996997.0,30/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
2,13996997.0,6/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
3,13996997.0,14/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
4,13996997.0,6/09/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481415,54405406.0,2/06/2022,54405406.0,Quiet and comfortable chalet in the heart of t...,441964202.0,Ailsa,NaN,RAVENSTHORPE,-33.94574,120.12449,Entire home/apt,145.0,2.0,10.0,2/06/2022,2.36,1.0,335.0,10.0,NaN
481416,54405652.0,27/03/2022,54405652.0,Veg at Ledge in total comfort & relaxation,173146469.0,Lana,NaN,GINGIN,-31.10218,115.37507,Entire home/apt,470.0,2.0,4.0,6/06/2022,1.45,16.0,350.0,4.0,NaN
481417,54405652.0,3/04/2022,54405652.0,Veg at Ledge in total comfort & relaxation,173146469.0,Lana,NaN,GINGIN,-31.10218,115.37507,Entire home/apt,470.0,2.0,4.0,6/06/2022,1.45,16.0,350.0,4.0,NaN
481418,54405652.0,24/04/2022,54405652.0,Veg at Ledge in total comfort & relaxation,173146469.0,Lana,NaN,GINGIN,-31.10218,115.37507,Entire home/apt,470.0,2.0,4.0,6/06/2022,1.45,16.0,350.0,4.0,NaN
481419,54405652.0,6/06/2022,54405652.0,Veg at Ledge in total comfort & relaxation,173146469.0,Lana,NaN,GINGIN,-31.10218,115.37507,Entire home/apt,470.0,2.0,4.0,6/06/2022,1.45,16.0,350.0,4.0,NaN

In [18]:
#Filtering the data based on latitudes and longitudes
review_data_merged_filtered = review_data_merged.loc[(review_data_merged['latitude']>= -32.5468) & (review_data_merged['latitude'] <= -31.7725) & (review_data_merged['longitude'] <= 116.0593)]
review_data_merged_filtered

,listing_id,date,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13996997.0,18/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
1,13996997.0,30/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
2,13996997.0,6/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
3,13996997.0,14/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
4,13996997.0,6/09/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481384,54392946.0,30/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481385,54392946.0,31/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481386,54392946.0,8/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481387,54392946.0,9/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481388,54392946.0,11/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN

In [19]:
#Filtering the data based on number of nights (Number of nights <= 15)
review_data_merged_filtered_nights = review_data_merged_filtered.loc[(review_data_merged_filtered['minimum_nights'] <= 15)]
review_data_merged_filtered_nights

,listing_id,date,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13996997.0,18/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
1,13996997.0,30/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
2,13996997.0,6/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
3,13996997.0,14/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
4,13996997.0,6/09/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,NaN,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481384,54392946.0,30/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481385,54392946.0,31/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481386,54392946.0,8/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481387,54392946.0,9/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN
481388,54392946.0,11/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,NaN,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,NaN

In [20]:
#Removing unnecessary columns
review_data_merged_filtered_nights_unncols = review_data_merged_filtered_nights.drop(['neighbourhood_group','license'], axis=1)
review_data_merged_filtered_nights_unncols

,listing_id,date,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,13996997.0,18/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0
1,13996997.0,30/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0
2,13996997.0,6/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0
3,13996997.0,14/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0
4,13996997.0,6/09/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481384,54392946.0,30/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0
481385,54392946.0,31/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0
481386,54392946.0,8/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0
481387,54392946.0,9/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0
481388,54392946.0,11/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0

In [21]:
#Adding column to dataframe
review_data_merged_filtered_nights_unncols['Count before and after Covid'] = 'None'
review_data_merged_filtered_nights_unncols

,listing_id,date,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Count before and after Covid
0,13996997.0,18/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
1,13996997.0,30/07/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
2,13996997.0,6/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
3,13996997.0,14/08/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
4,13996997.0,6/09/2016,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481384,54392946.0,30/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481385,54392946.0,31/05/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481386,54392946.0,8/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481387,54392946.0,9/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481388,54392946.0,11/06/2022,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None

In [22]:
#Changing the date format
review_data_merged_filtered_nights_unncols['date'] = pd.to_datetime(review_data_merged_filtered_nights_unncols.date, infer_datetime_format=True)
review_data_merged_filtered_nights_unncols

,listing_id,date,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Count before and after Covid
0,13996997.0,2016-07-18,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
1,13996997.0,2016-07-30,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
2,13996997.0,2016-08-06,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
3,13996997.0,2016-08-14,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
4,13996997.0,2016-09-06,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481384,54392946.0,2022-05-30,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481385,54392946.0,2022-05-31,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481386,54392946.0,2022-06-08,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481387,54392946.0,2022-06-09,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None
481388,54392946.0,2022-06-11,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,None

In [24]:
#Assigning value to the column 'Before Covid'
review_data_merged_filtered_nights_unncols.loc[(review_data_merged_filtered_nights_unncols['date'] > '2016-01-01') & (review_data_merged_filtered_nights_unncols['date'] < '2022-03-11'), 'Count before and after Covid'] = 0 
review_data_merged_filtered_nights_unncols.loc[(review_data_merged_filtered_nights_unncols['date'] > '2020-03-11') & (review_data_merged_filtered_nights_unncols['date'] < '2022-03-03'), 'Count before and after Covid'] = 2
review_data_merged_filtered_nights_unncols.loc[review_data_merged_filtered_nights_unncols['date'] >= '2022-03-03', 'Count before and after Covid'] = 4 

review_data_merged_filtered_nights_unncols
#reviews_2.loc[reviews_2['date'] <= '2020-03-11', 'Count before and after Covid'] = 0 
#reviews_2.loc[(reviews_2['date'] > '2020-03-11') & (reviews_2['date'] < '2022-03-03'), 'Count before and after Covid'] = 2
#reviews_2.loc[reviews_2['date'] >= '2022-03-03', 'Count before and after Covid'] = 4 

#reviews_2

,listing_id,date,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Count before and after Covid
0,13996997.0,2016-07-18,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,0
1,13996997.0,2016-07-30,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,0
2,13996997.0,2016-08-06,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,0
3,13996997.0,2016-08-14,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,0
4,13996997.0,2016-09-06,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481384,54392946.0,2022-05-30,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,4
481385,54392946.0,2022-05-31,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,4
481386,54392946.0,2022-06-08,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,4
481387,54392946.0,2022-06-09,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,4
481388,54392946.0,2022-06-11,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,4

In [25]:
#Segregating before and after covid
bins = [0, 1, 3,4]
group_names = ["Before Covid","Covid","After Covid"]
review_data_merged_filtered_nights_unncols["Count before and after Covid"] = pd.cut(review_data_merged_filtered_nights_unncols["Count before and after Covid"], bins, labels=group_names, include_lowest=True)
review_data_merged_filtered_nights_unncols

,listing_id,date,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Count before and after Covid
0,13996997.0,2016-07-18,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,Before Covid
1,13996997.0,2016-07-30,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,Before Covid
2,13996997.0,2016-08-06,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,Before Covid
3,13996997.0,2016-08-14,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,Before Covid
4,13996997.0,2016-09-06,13996997.0,Brand New Apartment - Opposite Perth Zoo!,56683967.0,Mark,SOUTH PERTH,-31.97013,115.85443,Entire home/apt,273.0,4.0,100.0,28/05/2022,1.39,3.0,200.0,5.0,Before Covid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481384,54392946.0,2022-05-30,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,After Covid
481385,54392946.0,2022-05-31,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,After Covid
481386,54392946.0,2022-06-08,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,After Covid
481387,54392946.0,2022-06-09,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,After Covid
481388,54392946.0,2022-06-11,54392946.0,Bedroom Ensuite Double bed Airport/City/Casino,416968361.0,Lena,BELMONT,-31.96541,115.91629,Private room,65.0,1.0,50.0,11/06/2022,10.49,2.0,228.0,50.0,After Covid

In [30]:
review_data_merged_filtered_nights_unncols = review_data_merged_filtered_nights_unncols.groupby(['listing_id', 'Count before and after Covid'])
review_data_merged_filtered_nights_unncols

In [27]:
review_data_merged_filtered_nights_unncols.count()

                                         date  id  name  host_id  host_name  \
listing_id Count before and after Covid
2115.0     Before Covid                    18  18    18       18         18
           Covid                           54  54    54       54         54
           After Covid                      0   0     0        0          0
59311.0    Before Covid                     7   7     7        7          7
           Covid                            0   0     0        0          0
...                                       ...  ..   ...      ...        ...
54392550.0 Covid                            2   2     2        2          2
           After Covid                     50  50    50       50         50
54392946.0 Before Covid                     0   0     0        0          0
           Covid                           13  13    13       13         13
           After Covid                     37  37    37       37         37

                                         neighbourhood  latitude  longitude  \
listing_id Count before and after Covid
2115.0     Before Covid                             18        18         18
           Covid                                    54        54         54
           After Covid                               0         0          0
59311.0    Before Covid                              7         7          7
           Covid                                     0         0          0
...                                                ...       ...        ...
54392550.0 Covid                                     2         2          2
           After Covid                              50        50         50
54392946.0 Before Covid                              0         0          0
           Covid                                    13        13         13
           After Covid                              37        37         37

                                         room_type  price  minimum_nights  \
listing_id Count before and after Covid
2115.0     Before Covid                         18     18              18
           Covid                                54     54              54
           After Covid                           0      0               0
59311.0    Before Covid                          7      7               7
           Covid                                 0      0               0
...                                            ...    ...             ...
54392550.0 Covid                                 2      2               2
           After Covid                          50     50              50
54392946.0 Before Covid                          0      0               0
           Covid                                13     13              13
           After Covid                          37     37              37

                                         number_of_reviews  last_review  \
listing_id Count before and after Covid
2115.0     Before Covid                                 18           18
           Covid                                        54           54
           After Covid                                   0            0
59311.0    Before Covid                                  7            7
           Covid                                         0            0
...                                                    ...          ...
54392550.0 Covid                                         2            2
           After Covid                                  50           50
54392946.0 Before Covid                                  0            0
           Covid                                        13           13
           After Covid                                  37           37

                                         reviews_per_month  \
listing_id Count before and after Covid
2115.0     Before Covid                                 18
           Covid                                        54
           After Covid                                   0
59311.0    Before Covid                                  7
           Covid                                         0
...                                                    ...
54392550.0 Covid                                         2
           After Covid                                  50
54392946.0 Before Covid                                  0
           Covid                                        13
           After Covid                                  37

                                         calculated_host_listings_count  \
listing_id Count before and after Covid
2115.0     Before Covid                                              18
           Covid                                                     54
           After Covid                                                0
59311.0    Before Covid                                               7
           Covid                                                      0
...                                                                 ...
54392550.0 Covid                                                      2
           After Covid                                               50
54392946.0 Before Covid                                               0
           Covid                                                     13
           After Covid                                               37

                                         availability_365  \
listing_id Count before and after Covid
2115.0     Before Covid                                18
           Covid                                       54
           After Covid                                  0
59311.0    Before Covid                                 7
           Covid                                        0
...                                                   ...
54392550.0 Covid                                        2
           After Covid                                 50
54392946.0 Before Covid                                 0
           Covid                                       13
           After Covid                                 37

                                         number_of_reviews_ltm
listing_id Count before and after Covid
2115.0     Before Covid                                     18
           Covid                                            54
           After Covid                                       0
59311.0    Before Covid                                      7
           Covid                                             0
...                                                        ...
54392550.0 Covid                                             2
           After Covid                                      50
54392946.0 Before Covid                                      0
           Covid                                            13
           After Covid                                      37

[9630 rows x 17 columns]

In [ ]:
#reviews_2[reviews_2.listing_id == 13996997].groupby(['listing_id', 'Count before and after Covid']).min()

In [29]:
review_data_merged_filtered_nights_unncols_summary = pd.DataFrame({"Min Date":review_data_merged_filtered_nights_unncols["date"].min(),
                                  "Max Date":review_data_merged_filtered_nights_unncols["date"].max(),
                                  "Count of reviews": review_data_merged_filtered_nights_unncols["date"].count(),
                                 })
review_data_merged_filtered_nights_unncols_summary

KeyError: 'date'

In [ ]:
#Converting to months
reviews_2_summary.loc[reviews_2_summary['Max Date'] != 'NaT', 'difference_months'] = ((reviews_2_summary['Max Date'] - reviews_2_summary['Min Date'])/np.timedelta64(1, 'M'))
reviews_2_summary['difference_months'] = reviews_2_summary['difference_months'].fillna(0).astype(int)
reviews_2_summary['Average_reviews'] =  round(reviews_2_summary['Count of reviews']/reviews_2_summary['difference_months'],2)
reviews_2_summary

In [ ]:
#Determining the row when the value changes
reviews_2['C'] = reviews_2['listing_id'].diff()
reviews_2_row_changes['Row Changes'] = reviews_2.index[reviews_2['C'] != 0]
reviews_2_row_changes

In [ ]:
reviews_2_groupby = reviews_2.groupby('listing_id')
reviews_2_groupby ['date'].count()

In [ ]:
reviews_2_per_month = reviews_2.groupby([(reviews_2['listing_id']),(reviews_2['date'].dt.year),(reviews_2['date'].dt.month)])
reviews_2_per_month

In [ ]:
reviews_2_per_month.date.count()

In [ ]:
reviews_2_per_month_1 = pd.DataFrame(reviews_2_per_month)
reviews_2_per_month_1